* {
    margin: 0;
    padding: 0;
}

:root {
    --roxo: #7c35e6;
    --azul: #2720eb;
    --escuro: #0f172a;
    --sombra-card: rgba(255,255,255,0.7);
    --background: rgba(165, 186, 191, 0.4);
    --background-claro: rgba(165, 186, 191, 0.2);
    --azul-claro: rgb(202, 226, 248);
    --azul-claro2: rgb(147, 188, 227);
    --barra: rgba(255,255,255,0.15);
    --azul-escuro1: #142c64;
    --azul-escuro2: #10234e;
    --roxo-hover: #5f25b5;
    --azul-hover: #1d18c5;
    --escuro-hover: #09101f;
}

#inicio {
    display: block;
}

body {
    min-height: 100vh;
    background: linear-gradient(
        90deg,
        var(--roxo),
        var(--azul),
        var(--escuro)
    );
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: var(--background);
    width: 700px;
    height: 550px;
    border-radius: 20px;
    box-shadow: 0 0 30px var(--sombra-card);
    padding: 30px;
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--azul-claro);
}

.material-symbols-outlined.icone-titulo {
    margin-top: 10px;
    font-size: 100px;
    color: aliceblue;
    background: linear-gradient(
        50deg,
        var(--roxo),
        var(--azul),
        var(--escuro)
    );
    border-radius: 10px;
}

h1 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 6px;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    
}

.descricao {
    font-size: 9px;
    font-family: 'outfit', sans-serif;
    display: flex;
    justify-content: center;
    color: var(--azul-claro2);

}

.card1 {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 20px;
    width: 682px;
    background-color: var(--background-claro);
    border-radius: 10px;
    box-shadow: 0 0 5px var(--sombra-card);
    padding: 8px;
}

.listas {
    display: flex;
    justify-content: center;
    font-family: 'outfit', sans-serif;
    font-size: 15px;
    gap: 100px;
}

.card1 h2 {
    font-size: 12px;
    font-family: 'Iosevka Charon', monospace;
    color: var(--azul-claro);
}

.card1 ul {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.card1 ul li {
    display: flex;
    list-style-type: none;
    gap: 5px;
}

.card2 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

button {
    width: 200px;
    height: 45px;
    border-radius: 20px;
    border: none;
    font-family: 'outfit', sans-serif;
    color: var(--azul-claro);
    background: linear-gradient(
        50deg,
        var(--roxo),
        var(--azul),
        var(--escuro)
    );
    box-shadow: 0 0 5px var(--sombra-card);
}

.frases {
    display: flex;
    text-align: center;
    margin-top: 10px;
    font-family: 'outfit', sans-serif;
    font-size: 15px;
}

.frases ul li {
    list-style-type: none;
}

li {
    color: var(--azul-escuro1);
}

#quiz {
    display: none;
}

#quiz h2 {
    margin-bottom: 5px;
    font-family: "Orbitron", sans-serif;
    color: aliceblue;
    font-size: 15px;
}

.barra {
    width: 100%;
    height: 12px;
    background-color: var(--barra);
    border-radius: 20px;
    margin-bottom: 12px;
}

.progresso {
    width: 10%;
    height: 100%;
    background: linear-gradient(
        80deg,
        var(--roxo),
        var(--azul),
        var(--escuro)
    );
    border-radius: 20px;
}

.card3 h3 {
    font-size: 18px;
    font-family: 'Iosevka Charon', monospace;
    color: var(--azul-claro);
}

.bloco {
    display: flex;
    flex-direction: column;
    font-family: 'outfit', sans-serif;
    gap: 24px;
    margin-top: 20px;
}

label {
    border-radius: 20px;
    padding: 4px;
    background-color: var(--background-claro);
    color: var(--azul-escuro2);
}

label input {
    margin-right: 10px;
}

.botao_prox {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#resultado {
    display: none;
}

.titulo2 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.material-symbols-outlined.icone-titulo2 {
    margin-top: 10px;
    font-size: 100px;
    color: aliceblue;
    background: linear-gradient(
        50deg,
        var(--roxo),
        var(--azul),
        var(--escuro)
    );
    border-radius: 10px;
}

.titulo2 h2 {
    margin-top: 10px;
    margin-bottom: 5px;
    color: var(--azul-claro);
    font-family: 'Orbitron', sans-serif;
    font-size: 18px;
}
.titulo2 p {
    margin-bottom: 20px;
    color: var(--azul-claro2);
    font-family: 'outfit', sans-serif;
}

.card4{
    background-color: var(--background);
    border-radius: 10px;
    width: 682px;
    height: 280px;
    padding: 8px;
    box-shadow: 0 0 5px var(--sombra-card);
}

.area {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    margin-bottom: 17px;
}

.area p {
    color: var(--azul-escuro2);
    font-family: 'outfit', sans-serif;
    font-size: 15px;
} 

.area h3 {
    font-size: 25px;
    margin-top: 20px;
    font-family: 'Iosevka Charon', monospace;
    color: var(--azul-escuro1);
}

.listas2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.habilidades {
    background-color: var(--background-claro);
    padding: 15px;
    border-radius: 10px;
    
}

.habilidades p {
    margin-bottom: 15px;
    font-family: 'Iosevka Charon', monospace;
    color: var(--azul-claro);
}

.habilidades ul li {
    list-style-type: none;
    display: flex;
    gap: 5px;
}

.material-symbols-outlined.icone-lista {
    font-size: 18px;
}

.listas2 li {
    display: flex;
    margin-bottom: 10px;
}

.sugestao {
    position: absolute;
    left: 430px;
    bottom: 95px;
    font-size: 12px;
    font-family: 'outfit', sans-serif;
    color: var(--azul-claro2);
}

.botao_refazer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button:hover {
    background: linear-gradient(
        50deg,
        var(--roxo-hover),
        var(--azul-hover),
        var(--escuro-hover)
    );

    transform: scale(1.05);
    cursor: pointer;
}

label {
    transition: 0.3s;
}

label:hover {
    background-color: var(--background);
    cursor: pointer;
}